---
layout: archive
author_profile: true
---

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].active_projects | default: "Active Projects" }}</h3>

{% assign projects = site.projects %}

{% for post in projects %}
  {% if post.project.status == 'active' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
