{% capture project_badges %}
{% if page.project.status == 'maintenance' %}
![status: maintenance](https://img.shields.io/badge/status-maintenance-yellow)
{% elsif page.project.status == 'active' %}
![status: in development](https://img.shields.io/badge/status-active-success)
{% else %}
![status: inactive](https://img.shields.io/badge/status-inactive-inactive)
{% endif %}
{% if page.project.release %}
&nbsp;[![GitHub release](https://img.shields.io/github/v/release/vtavernier/{{ page.project.repo }}?include_prereleases)](https://github.com/vtavernier/{{ page.project.repo }}/releases)
{% endif %}
{% if page.project.crate %}
&nbsp;[![crates.io](https://img.shields.io/crates/v/{{ page.project.crate }}.svg)](https://crates.io/crates/{{ page.project.crate }})
{% endif %}
{% endcapture %}
{{ project_badges | strip_newlines }}

<dl>
<dt>Synopsis</dt>
<dd>{{ page.excerpt }}</dd>
</dl>
