.highlight-manual pre {
	color: #f8f8f2;
	background-color: #282a36;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4
}

.title-inverted {
	color: #dadada !important;
	font-weight: bold;
	display: block;
}

.desc-inverted {
	flex: 4;
}

@media (min-width: 768px) {
	.title-inverted {
		text-align: right;
		display: inline-block;
		flex: 1;
		width: 20.0rem;
		margin-right: 3.0rem;
	}

	.desc-inverted {
		flex: 4;
		font-size: 1.5rem;
	}
}

.publications {
}

.publications-main {
	display: flex;
}

.publications-right {
	flex: 1;
}

.publications-thumb {
	background: #fff;
	height: 75px;
	width: 58px;
	margin-right: 1.5rem;
}

.publications-title {
	margin-top: 0;
}

.publications-title a {
	color: #dadada !important;
	font-weight: bold;
}

.publications-year {
	font-weight: normal;
	display: block;
}

.publications-authors {
	margin: 0;
}

.publications-citation {
	margin: 0;
}

.publications-abstract {
	font-size: 1.25rem;
	margin: 1.5rem 3rem 8rem 3rem;
}

figcaption {
	color: #888;
}

.tooltip {
	text-decoration: underline dashed #888;
}
