---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const posts = await getCollection("posts");
---

<BaseLayout pageTitle="Posts">
  {
    posts.map((post) => (
      <li>
        <a href={"/posts/" + post.slug}>{post.data.title}</a>
      </li>
    ))
  }
</BaseLayout>
