<section class="container list">
  <h1 class="title">
    {{- if eq .Kind "term" -}}
      {{- i18n .Data.Singular | title -}}
      {{- print ": " -}}
    {{- end -}}

    {{- .Title -}}
  </h1>
  {{ .Content }}
  <ul>
    {{ range .Paginator.Pages.ByParam "weight" }}
    <li>
      <a class="title-inverted" href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
      <span class="desc-inverted">{{ (getJSON (printf "https://api.github.com/repos/vtavernier/%s" .Params.repo) (dict "Authorization" (printf "Bearer %s" (getenv "GITHUB_TOKEN")))).description }}</span>
    </li>
    {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</section>
