---
import Layout from '~/layouts/PageLayout.astro';

import { getCollection } from 'astro:content';
import Headline from '~/components/blog/Headline.astro';

async function loadProjects() {
  const projects = await getCollection('project');
  const results = projects.sort((a, b) => b.data.weight.valueOf() - a.data.weight.valueOf());

  return results;
}

export async function getStaticPaths() {
  return await loadProjects();
}

const projects = await loadProjects();

const { page } = Astro.props;

const meta = {
  title: 'Projects',
  description: "@vtavernier's personal projects",
};
---

<Layout {meta}>
  <Headline
    subtitle="Note: this page hosts links to the READMEs of my various projects. Follow the links in the titles to the GitHub repositories for more information."
  />

  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <ul>
      {projects.map((project) => <li class="mb-12 md:mb-20">{project.data.title}</li>)}
    </ul>
  </section>
</Layout>
